services:
  db:
    image: postgres
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456789
      POSTGRES_DB: api
    ports:
    - "5432:5432"
    volumes: 
      - db:/var/lib/postgresql/data
volumes:
  db:
